::selection {
  background: #5a4fcf;
  color: #fff;
}

:focus {
  outline: 0;
  outline: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2c2c2c !important;
}

::-webkit-scrollbar {
  width: 4px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #5a4fcf !important;
  border-radius: 0 !important;
}

::-moz-selection {
  background: #0d5401 !important;
  color: #8798a5 !important;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  padding: 2rem;
  background-color: #5a4fcf;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.nav {
  margin: 0;
  overflow: hidden;
  min-width: 150px;
  list-style-type: none;
  display: flex;
  justify-content: right;
}

.nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.MenuItem {
  padding: 0 20px;
  color: #fff;
  line-height: 40px;
  text-decoration: none;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.btn,
.btn-xs,
.btn-md,
.btn-lg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: #5a4fcf;
  border-radius: 4px;
  height: calc(1.8rem + 1.25rem + 2px);
  padding: 0 calc(2rem + 1.5rem);
  font-size: 1rem !important;
  min-width: 5rem;
  margin: 2rem 0;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}

.btn-lg {
  min-width: 8rem;
}

.btn:hover,
.btn-xs:hover,
.btn-md:hover,
.btn-lg:hover,
.MenuItem:hover {
  opacity: 0.6;
}

.bg-indigo,
.hover-bg-indigo:hover {
  background-color: #5a4fcf !important;
}

subtitle {
  font-size: 0.8rem !important;
}

.App {
  text-align: center;
}

.ImageCanvas {
  width: 30%;
}

.Floater {
  padding: 5%;
}

.TextareaParent {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.InformationText {
  font-size: 13px;
  margin: 0;
}

.CryptHolder {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  align-items: center;
}

.BrandName {
  list-style-type: none;
  float: left;
  margin-left: 1.25rem;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.HiddenText {
  margin-top: 1.5rem;
  width: 100%;
}

.HiddenTextContainer {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  max-height: 50vh;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.AboutSection {
  padding: 3rem;
  text-align: justify;
}

.ErrorPanel {
  position: fixed;
  bottom: 7%;
  background: rgb(134 0 0);
  font-size: 1.1rem;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
}

.AboutSection p {
  font-size: 1rem;
}

.ImageHolder {
  width: 100%;
  text-align: center;
}

.TextDisabled {
  pointer-events: none;
  user-select: none;
  color: grey;
}

.InputTextArea {
  line-height: 1.5;
  color: white;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #b7c4cd;
  border-radius: 4px;
  background-color: rgba(240, 238, 255, 0.1) !important;
  border-width: 0px !important;
  margin: "10px auto";
  padding: "10px";
  width: "200px";
  box-sizing: "border-box";
}

.InputTextArea {
  width: 95vw;
}

.InputTextArea:focus {
  border-color: #fff !important;
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.25) !important;
  outline: none;
}

input {
  display: none;
}

@media only screen and (max-width: 600px) {
  .BrandName {
    margin-left: 0.5rem;
    font-size: 1.5rem;
  }

  input {
    display: none;
  }

  input + label {
    display: block;
    position: absolute;
    right: 2rem;
    cursor: pointer;
    height: 20px;
    width: 15px;
    z-index: 5;
  }
  input + label span {
    position: absolute;
    width: 155%;
    height: 4px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #fff;
    transition: 0.5s;
  }
  input + label span:first-child {
    top: 2px;
  }
  input + label span:last-child {
    top: 17px;
  }
  label:hover {
    cursor: pointer;
  }
  input:checked + label span {
    opacity: 0;
    top: 50%;
  }
  input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }

  input ~ .nav > ul {
    list-style: none;
    text-align: center;
    position: absolute;
    top: 0rem;
    left: 6rem;
    right: 6rem;
  }
  input ~ .nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
  }
  input ~ .nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: block;
  }
  input:checked ~ .nav {
    height: 15rem;
    transition-delay: 0s;
  }
  input:checked ~ .nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
  }

  .nav {
    display: flex;
    position: absolute;
    top: 4rem;
    left: 0;
    height: 5%;
    width: 100%;
    z-index: 3;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    background-color: #5a4fcf;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 1;
  }

  .nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav.open {
    display: flex;
  }

  .navbar {
    display: flex;
  }

  .MenuItem {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }

  .ImageCanvas {
    width: 90%;
  }

  .InputTextArea {
    width: 70vw;
    height: 205px;
  }
}
